[submodule "CombBLAS"]
        path = CombBLAS
        url = https://github.com/PASSIONLab/CombBLAS
        branch = master
[submodule "seqan"]
        path = seqan
        url = https://github.com/seqan/seqan
        branch = develop
[submodule "build/ipuma-lib"]
	path = build/ipuma-lib
	url = git@github.com:xiamaz/ipuma-lib.git
[submodule "ipuma-lib"]
	path = ipuma-lib
	url = git@github.com:xiamaz/ipuma-lib.git
